<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Interview Experience Posts

    <a data-toggle="collapse" href="#job_interview_experience_posts_new_form">
      Add interview experience post
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @job.interview_experience_posts.each do |interview_experience_post| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to interview_experience_post, interview_experience_post %>

        <% if current_student_profile == interview_experience_post.student %>
          <%= link_to interview_experience_post, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="job_interview_experience_posts_new_form">
        <%= render partial: "jobs/job_interview_experience_posts_new_form" %>
      </div>
    </div>

  </ul>
</div>
