<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Students
  </div>

  <ul class="list-group list-group-flush">
    <% @job.students.each do |student_profile| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/student_profiles/<%= student_profile.id %>">
          <%= student_profile %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
