<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @company, partial: "card", as: :company %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "companies/company_interview_experience_posts" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "companies/company_jobs" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "companies/company_students" %>
  </div>
</div>
