<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @student_profile, partial: "card", as: :student_profile %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "student_profiles/student_profile_interview_experience_posts" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "student_profiles/student_profile_companies" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "student_profiles/student_profile_jobs" %>
  </div>
</div>
  <!-- Show Page Customization end -->
