<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @interview_experience_post, partial: "card", as: :interview_experience_post %>
  </div>
</div>

  <!-- Show Page Customization starts -->
  <!-- Show Page Customization end -->
